.projects {
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;

  .btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }

  &__card {
    cursor: pointer;
    border: 1px solid #e8f2fe;
    border-radius: 6px;
    margin-right: 20px;
    margin-bottom: 20px;

    &:hover {
      box-shadow: 0 0 19px -6px rgba(222,218,222,1);
    }

    &-container {
      display: flex;
      flex-direction: column;
      width: 150px;
      height: 100px;
      align-items: center;
      .description {
        display: flex;
      }

      .title {
        display: flex;
        height: 20px;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
    display: flex;
    align-items: center;
  }

}