.task {
  .add-form {
    display: flex;
    align-items: center;

    &-item {
      margin-right: 10px;
    }
  }

  .img {
    max-height: 300px;
  }

  .track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid  #D4D4D4;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 10px;
    max-width: 500px;

    .edit {
      float: right;
    }
  }

  .add-form-item {
    display: block;
    margin-top: 10px;
  }
}