.project {
  padding: 0 10%;

  .btn {
    float: right;
  }

  .input-field {

  }

  .btn {
    margin-right: 10px;
  }

  .create-project {
    width: 500px;
  }

  .edit-container {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    margin-bottom: 20px;
    width: 500px;
  }
}